.App {
  text-align: center;
  background-color: #ffe082; /* cor de fundo mais vibrante */
  padding: 20px;
  border: 1px solid #ffd54f; /* cor da borda mais vibrante */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
  background-color: #ff9800; /* cor do logo mais vibrante */
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3f51b5; /* cor do cabeçalho mais vibrante */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff; /* cor do texto mais vibrante */
}

.App-link {
  color: #03a9f4; /* cor do link mais vibrante */
}